---
import Image from "astro/components/Image.astro";
import { Swiper, SwiperWrapper, SwiperSlide } from "astro-swiper";

const carouselImages: { title: string, url: string }[] = Astro.props.images;
---

<div class='floating-element-tablet'>
  <Swiper options={{
    autoplay: {delay: 4000},
    //cssMode: true,
    effect: 'fade',
    fadeEffect: {crossFade: true},
    loop: true,
  }}>
    <SwiperWrapper>
      {carouselImages.map(image =>
        <SwiperSlide>
          <Image src={image.url} alt={image.title} width={800} height={500} />
        </SwiperSlide>)
      }
    </SwiperWrapper>
  </Swiper>
</div>

<style>
  @media screen and (min-width: 769px) {
    .floating-element-tablet {
      float: left;
      width: 50%;
      margin-right: 20px;
    }
  }
</style>