@charset "utf-8";

:root {
  --primary-color: hsl(204, 64%, 44%);
  --secondary-color: hsl(196, 93%, 70%);

  --site-background-color: hsla(195, 70%, 70%, 0.85);

  --body-font-size: 0.9em;

  --dimensions: 512;

  --table-background-color: hsl(142, 52%, 96%);
}
